.App {
  padding: 20px;
}
.smart-tree__wrapper::before {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: black;
  position: absolute;
}
.smart-tree__wrapper {
  padding: 12px;
  overflow: hidden;
  position: relative;
}
